doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0')
    link(href='/jquery-mobile-bower/css/jquery.mobile-1.4.2.css', rel='stylesheet')
    link(href='/lazyloadxt/dist/jquery.lazyloadxt.fadein.css', rel='stylesheet')
    script(src='/jquery/dist/jquery.js')
    script(src='/jquery-mobile-bower/js/jquery.mobile-1.4.2.js')   
    style(type='text/css').
      img {
      max-height: 100%;
      max-width: 100%;
      padding: 20px;
      }
      .center-wrapper {
      text-align: center;
      }
      .center-wrapper * {
      margin: 0 auto;
      }
      .btn {
      width: 100px !important;
      }
      .circle {
      height: 100px;
      width: 100%;
      background: url('/lazyloadxt/dist/loading.gif') no-repeat 50% 50%;
      }
      @color: #black;
      @boder: #c5c5c5;

      .rounded-corners (@radius: 0px) {
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        -ms-border-radius: @radius;
        -o-border-radius: @radius;
        border-radius: @radius;
      }

      .loading{
        font-size:16px;
        font-weight:bold;
        margin:100px auto;
        position:relative;
        text-align:center;
        width:100%;
        max-width:200px;
      }

      p{
        border-top:solid 1px @boder;
        color:@color;
        padding-top:15px;
        width:100%;
         animation-name:loading;
        -webkit-animation:loading 2s ease-out infinite;
        -moz-animation:loading 2s ease-out infinite;
        animation:loading 2s ease-out infinite;
      }

      p:before{
        content:"";
        .rounded-corners(30px);
        display:inline-block;
        border-style: solid;
        border-width: 20px 20px 20px 20px;
        border-color: #b2060e transparent transparent transparent;
        position:absolute; top:-20px;left:-10px;
         animation-name:loading;
        -webkit-animation:loading 2s ease-out infinite;
        -moz-animation:loading 2s ease-out infinite;
        animation:loading 2s ease-out infinite;
      }

      @-moz-keyframes loading { 
        0% { left:-15px;}
        50% { 
          left:185px;
          color:#c5c5c5;
       }
        100% { left:-15px; }
      }
      @-webkit-keyframes loading { 
        0% { left:-15px;}
        50% { 
          left:185px;
          color:#c5c5c5;
       }
        100% { left:-15px;}
      }
      @keyframes loading { 
        0% { left:-15px;}
        50% { 
          left:185px;
          color:#c5c5c5;
       }
        100% { left:-15px; }
      }


  body
    #home(data-role='page')
      div(data-role='header', data-theme='b', data-position="fixed")
        h1 Search Image
      .ui-content.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-clear(data-role='content')
        div#searchArea
          input#searchString.search(type='search', placeholder='search images ... ')
          #area1.center-wrapper
            button#submitButton.ui-btn.ui-shadow.btn Search
        #area2
        article(data-role='content')
          ul#imageList(data-role='listview')
          #marker-end
      footer(data-role='footer', data-position='fixed', data-theme='b')
        nav(data-role='navbar')
          ul
            li
              a#searchAgain(data-icon='back' href="#searchString") search again
            li
              a(href='#contact', data-icon='grid') contact
            li
              a(href='#info', data-icon='info', data-transition="flip") info
    #info(data-role='page', data-dialog='true')
      div(data-role='header', data-theme='b')
        h1 Info
      .ui-content(role='main')
        h1 What does the site do?
        p
          | It is just a basic implementation of image search. A simple form is used to send a "GET" request to imagebazaar indirectly through NodeJs server. The html reponse from the server is parsed using JDOM, image src is manulated and returned as json object. lazyloadxt library is used for lazy loading of the images.
        a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a(href='#home', data-rel='back') Sounds good
    #contact(data-role='page', data-dialog='true')
      div(data-role='header', data-theme='b')
        h1 Contact me ?
      .ui-content(role='main')
        p leninkhaidem@gmail.com :)
        a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a(href='#home', data-rel='back') OK
  script(src='/lazyloadxt/dist/jquery.lazyloadxt.js')
  script(src='/javascripts/functions.js')
